@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(233, 233, 233);
}

.App {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.573);
}

.formContainer #category, #numberOfQuestions, #title {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 10px;
    color:rgba(50, 50, 50, 0.727);
    font-weight: 400;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.formContainer span {
    color: rgb(216, 23, 23);
    font-style: italic;
    font-size: smaller;
    margin-left: 15px;
}